<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Nethermind Test</title>
  </head>
  <body style="text-align:center; margin-top: 80px;">
    <h1>Nethermind hash Test</h1>
   
    <p data-js="upload-text"></p>
     <section style="padding: 0 8px 8px; display: flex; justify-content:space-evenly;align-items:center;width: 70%;margin: auto;">
      <textarea class="textarea"  placeholder="paste your hash here" style="width: 40%;
      height: 200px;
      padding: 20px;
      border: 1px solid whitesmoke;
      box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
      outline: 0;
      background-color: whitesmoke;resize: none;" id="userHash" ></textarea>
      <textarea class="textarea" placeholder="result" readonly style="width: 40%;
      height: 200px;
      padding: 20px;
      border: 1px solid whitesmoke;
      box-shadow: 0 3px 10px rgb(0 0 0 / 20%);
      outline: 0;
      background-color: whitesmoke;resize: none;" id="hashResult"></textarea>
    </section>
     <section style="padding: 0 8px 8px">
        <button type="button" id="submitHandler" style="margin-top: 20px;
        padding: 16px 24px;
        border: 0;
        background-color: black;
        color: white;
        cursor: pointer;
        border-radius: 5px;">SubmitHash</button>
    </section>
    <script src="/bundle.js"></script>
   
  </body>
</html>